body {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.tab-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bold;
}

.map-outer {
  width: 100%;
  height: 100vh;
}

.leaflet-container {
  width: 100wh;
  height: 100vh;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  border: 4px solid #5080c7;
  border-radius: 100%;
  width: 20px !important;
  height: 20px !important;
}
